{{ define "main" }}

<article class="article">

<h1 class="post-title">{{ .Title }}</h1>

{{ with .Params.description }}
<p class="text-lead">{{ . }}</p>
{{ end }}

<p class="article-meta">
{{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}
Written on {{ .PublishDate.Format $dateFormat }}.
{{ with .Params.tags }}
  Posted in
  {{ range . }}
    <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
  {{ end }}
{{ end }}
</p>

{{ if ne .Params.toc false }}
  {{ partial "toc.html" . }}
{{ end }}

{{ .Content }}
</article>

{{ end }}